/* These are styles appied to the whole website */
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Work+Sans:wght@900&display=swap');

:root{
  --color-one: #A2807F;
  --color-two:  #E7F1F3;
  --color-three: #83A4CF;
  --color-four: #ccd6eb;
  --color-five: #7B797C;
  --color-six: #4D7FB2;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat, Arial, Helvetica;
}


html {
  scroll-behavior: smooth;
}

section{
  padding: 100px;
}
/* Header Style Starts Here */
header {
    display: flex;
    padding: 10px 35px;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/image2.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    z-index: 9999;
}

header h1 a {
  padding: 10px 15px 0 10px;
  margin: 15px 20px;
  font-size: 40px;
  font-family: Tangerine, Snell Roundhand, cursive;
}

header a {
  text-decoration: none;
  font-weight: 700;
  color:var(--color-two);
  text-shadow: 1px 1px black;
  color: var(--color-two);
}

header nav ul {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    list-style: none;
    flex-wrap: wrap;
}

header nav ul li a{
  margin: 10px 20px;
  padding: 10px 15px ;
  box-shadow: 1px 1px black ;
  border-radius: 25%;
  font-size: 1.55vw;
  font-weight: 800;
  transition: margin-left 1.5s ease-in;
}

/* Hero Styles Start Here */
.hero{
  display: flex;
  background-image: url("../images/image2.jpg");
  background-size: cover;
  background-position: 80%;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
}

.hero h2{
  font-size: 100px;
}

.gradient-text{
  background-color: rgb(10, 13, 20);
  background-image: radial-gradient(
    at bottom left,
    var(--color-one),
    var(--color-four),
    var(--color-two)
    );
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: none;
  transition: margin-right 30s ease-out; 
}

/*About Me Section Starts */

.about-me {
  margin-top: 15px;
  background-image: radial-gradient(
    at top right,
    var(--color-two) 0%,
    var(--color-four) 8%,
    var(--color-three) 30%,
    var(--color-six) 80%, 85%,
    var(--color-five) 100%
    );
  display: flex;
  flex-wrap: wrap;  
}

.about-me img {
  flex: 1 15%;
  margin-right: 20px;
  padding: 0 50px 0 100px;
}

.about-me article{
  align-content: flex-end;
  text-align: center;
  flex: 1 60%;
  padding-right: 275px;
  padding-left: 100px;
  
}
.about-me h3{
  margin: 20px 15px;
  padding: auto;
}

.about-me p{
  margin: auto;
}

/* My Works Style Start Here */
.works{
  background-image: radial-gradient(
    at bottom right,
    var(--color-two) 0%,
    var(--color-four) 8%,
    var(--color-three) 30%,
    var(--color-six) 80%, 85%,
    var(--color-five) 100%
    );
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center; 
}

.select-work{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/*Resume Style Starts Here */

.resume {
  background-image: radial-gradient(
    at top right,
    var(--color-two) 0%,
    var(--color-four) 8%,
    var(--color-three) 30%,
    var(--color-six) 80%, 85%,
    var(--color-five) 100%
    );
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

}
/*Contact Me Style Starts Here */

.contact {
  background-image: radial-gradient(
    at bottom right,
    var(--color-two) 0%,
    var(--color-four) 8%,
    var(--color-three) 30%,
    var(--color-six) 80%, 85%,
    var(--color-five) 100%
    );
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.contact-info{
  background-color: rgb(255, 255, 255, 0.3);
  border: 1px solid black;
  border-radius: 25%;
  display:flex;
  flex-direction: column;
  align-content: center;
}


.contact-info h2{
  margin: 10px auto;
}

.contact-info form{
  padding: 5px 10px;
  width: 33%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  
}

.contact-info label{
  width: 300%
}
.contact-info input{
  width: 300%;
}


.contact-info button{
  margin: 20px auto;
  padding: 2px 3px;
  background-color: rgba(131,164,207,1.0);
}

.contact button:hover{
  background-color: rgba(131,164,207,0.5);
}